// -------- COLORS -------- //
$dark: #1b1b1b;
$primary: #8a40f6;
$gray: #2d2d2e;
$light-gray: #615d6c;
$white: #ffffff;

// -------- INTERFACE -------- //
$font-family: 'Manrope';
$font-size: 13px;
$font-color: $white;

$heading-font-family: 'Al Veshion';
$heading-font-weight: 400;
$heading-text-transform: uppercase;

$body-background: $dark;

$container-width: 1170px;
$container-padding: 15px;
