@font-face {
    font-family: 'Al Veshion';
    src: local('Al Veshion Regular'), local('Al-Veshion-Regular'),
        url('Al_Veshion.woff2') format('woff2'),
        url('Al_Veshion.woff') format('woff'),
        url('Al_Veshion.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }