.locale {
  font-size: 1rem;
  position: relative;
  cursor: pointer;
  &__current {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    svg {
      transition: transform 0.2s ease-in-out;
    }
  }
  &__list {
    visibility: hidden;
    transform: translateY(-20px);
    opacity: 0;

    list-style: none;
    position: absolute;
    top: calc(100% + 0.5rem);
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }
  &_active {
    .locale {
      &__current {
        svg {
          transform: rotate(-180deg);
        }
      }
      &__list {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
