.features {
  background: $gray;
  padding: 50px 0;
  @media screen and (min-width: 768px) {
    padding: 100px 0;
    background: url('/img/plans/plans-bg.jpg') top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media screen and (min-width: $desktop) {
    padding: 180px 0;
  }
  &__container {
  }
  &__header {
    margin-bottom: 20px;
    @media screen and (min-width: $desktop) {
      margin-bottom: 60px;
    }
  }
  &__grid {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 $container-padding;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    @media screen and (min-width: $desktop) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width: 1280px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.feature {
  background: $dark;
  display: flex;
  flex-direction: column;
  &_primary {
    background: $white;
    color: $dark;
    .feature {
      &__show-more {
        &:hover {
          color: $dark;
        }
      }
    }
    @media screen and (min-width: 768px) {
      .feature__item {
        color: $dark !important;
      }
    }
  }
  &__header {
    display: none;
    @media screen and (min-width: $desktop) {
      display: block;
      width: 100%;
    }
  }
  &__body {
    padding: 30px 20px;
    flex: 1;
    @media screen and (min-width: 1440px) {
      padding: 40px;
    }
  }
  &__title {
    margin-bottom: 18px;
    text-align: center;
  }
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    &_secondary {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.5s cubic-bezier(0, 1, 0, 1),
        margin 0.3s cubic-bezier(0, 1, 0, 1);
      .feature {
        &__item {
          color: $light-gray;
        }
      }
      &_active {
        margin-top: 16px;
        max-height: 9999px;
      }
      @media screen and (min-width: 768px) {
        margin-top: 16px;
        max-height: fit-content;
        .feature {
          &__item {
            color: $white;
            svg path {
              fill: $primary;
            }
          }
        }
      }
    }
  }
  &__item {
    display: inline-flex;
    gap: 8px;
    svg {
      flex-shrink: 0;
    }
  }
  &__button {
    width: 100%;
  }
  &__show-more {
    text-transform: uppercase;
    display: flex;
    padding: 20px 30px;
    border-top: 1px solid rgba(#fff, 0.1);
    color: $light-gray;
    font-size: 12px;
    font-weight: 700;
    gap: 10px;
    align-items: center;
    .minus {
      display: none;
    }
    &_active {
      .plus {
        display: none;
      }
      .minus {
        display: block;
      }
    }
    transition: color 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
      color: $white;
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  @media screen and (min-width: $desktop) and (max-width: 1279.97px) {
    &:last-child {
      grid-column: 2;
    }
  }
}
